{{ define "header" }}
<html>
  <head>
    <title> {{ .Title }} </title>
    {{ range .Styles }}
    <link rel="stylesheet" href="/css/{{ . }}"
    {{ end }}
  </head>
  <body>
    {{ end }}
    
    {{ define "footer" }}
  </body>
</html>
{{ end }}
