{{ define "dashboard" }}
{{ template "header" .Header }}
<style type="text/css">
 body {
     margin: 0;
     padding: 0;
 }
 div#main {
     display: table;
     margin-left: auto;
     margin-right: auto;
 }
 table.groups {
     color: #333333;
     border: 1px solid #787878;
     border-collapse: collapse;
     margin: 0.2em;
     width: 100%;
 }
 table.groups th {
     font-size: 1.2em;
     border: 1px solid #787878;
     padding: 0.5em;
     padding-bottom: 0.25em;
     padding-top: 0.25em;
     background-color: #dedede;
     text-align: center;
 }
 table.groups td {
     font-size: 1.1em;
     border: 1px solid #787878;
     padding: 0.3em;
     background-color: #ffffff;
     text-align: center;
 }
 table.groups caption {
     font-size: 1.4em;
     padding-bottom: 0.3em;
 }
 .message-row {
     text-align: center;
     font-size: 1em;
 }
 div.form-field {
     padding-bottom: 0.6em;
 }
 div.form-submit {
     text-align: right;
 }
 div.form-submit input {
     font-size: 1.1em;
     background-color: #bbb;
 }
 div.form-submit input:hover {
     background-color: #eee;
 }
 div.form-field label {
     padding-right: 1.2em;
     font-size: 1.1em;
 }
 fieldset {
     display: inline-block;
     margin: 0.3em;
 }
 legend {
     font-size: 1.4em;
 }
</style>
<div id="main">
  <table class="groups">
    <caption> Groups </caption>
    <thead>
      <tr> <th> Key </th> <th> Name </th> </tr>
    </thead>
    <tbody>
      {{ range .Groups }}
      <tr>
        <td> <a href="group/show?key={{ .Key }}"> {{ .Key }} </a> </td>
        <td> {{ .Name }} </td>        
      </tr>
      {{ else }}
      <tr>
        <td class="message-row" colspan="2">
          None
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <form action="group/add" method="post">
    <fieldset>
      <legend>New Group</legend>

      <div class="form-field">
        <label for="name-text-input">Name</label>
        <input id="name-text-input" name="name" type="text"/>
      </div>

      <div class="form-field">
        <label for="proto-selector">Protocol</label>
        <select id="proto-selector" name="proto">
          <option value="secure">Secure</option>
          <option value="plain">Plain</option>
          <option value="both">Both</option>
        </select>
      </div>

      <div class="form-field">
        <label for="fragment-checkbox">Strip fragment</label>
        <input id="fragment-checkbox" type="checkbox" name="skip-fragment"/>
      </div>

      <div class="form-field">
        <label for="system-selector">Proof-of-work system</label>
        <select id="system-selector" name="sys">
          {{ range .Systems }}
          <option value="{{ index . 0 }}"> {{ index . 1 }} </option>
          {{ end }}
        </select>
      </div>

      <div class="form-field form-submit">
        <input type="submit" value="Add"/>
      </div>

    </fieldset>
  </form>
</div>
{{ template "footer" }}
{{ end }}
